GAME_ICON	ICON "icon.ico"

CHIPS		IMAGE "material/maps_hiroki2.bmp"
TEXT_FORM_L	IMAGE "material/textFormL.png"
TEXT_FORM_S	IMAGE "material/textFormS.png"
LOGO		IMAGE "material/logo_mini4.png"
BASE		IMAGE "material/kanban_added/base_raw.png"
BASEF		IMAGE "material/kanban_added/base.png"
START		IMAGE "material/kanban_added/start.png"
STARTF		IMAGE "material/kanban_added/start_f.png"
//STAGE1		IMAGE "material/kanban_added/1st.png"
//STAGE1F		IMAGE "material/kanban_added/1st_f.png"
//STAGE2		IMAGE "material/kanban_added/2nd.png"
//STAGE2F		IMAGE "material/kanban_added/2nd_f.png"
//STAGE3		IMAGE "material/kanban_added/3rd.png"
//STAGE3F		IMAGE "material/kanban_added/3rd_f.png"
//STAGE4		IMAGE "material/kanban_added/4th.png"
//STAGE4F		IMAGE "material/kanban_added/4th_f.png"
//STAGE5		IMAGE "material/kanban_added/5th.png"
//STAGE5F		IMAGE "material/kanban_added/5th_f.png"
//STAGE6		IMAGE "material/kanban_added/6th.png"
//STAGE6F		IMAGE "material/kanban_added/6th_f.png"
//STAGE7		IMAGE "material/kanban_added/7th.png"
//STAGE7F		IMAGE "material/kanban_added/7th_f.png"
//STAGE8		IMAGE "material/kanban_added/8th.png"
//STAGE8F		IMAGE "material/kanban_added/8th_f.png"
//STAGE9		IMAGE "material/kanban_added/9th.png"
//STAGE9F		IMAGE "material/kanban_added/9th_f.png"
//STAGE10		IMAGE "material/kanban_added/10th.png"
//STAGE10F	IMAGE "material/kanban_added/10th_f.png"
MODE1		IMAGE "material/kanban_added/heaven.png"
MODE1F		IMAGE "material/kanban_added/heaven_f.png"
MODE2		IMAGE "material/kanban_added/rare.png"
MODE2F		IMAGE "material/kanban_added/rare_f.png"
MODE3		IMAGE "material/kanban_added/medium.png"
MODE3F		IMAGE "material/kanban_added/medium_f.png"
MODE4		IMAGE "material/kanban_added/well-done.png"
MODE4F		IMAGE "material/kanban_added/well-done_f.png"
MODE5		IMAGE "material/kanban_added/hell.png"
MODE5F		IMAGE "material/kanban_added/hell_f.png"
DAY			IMAGE "material/kanban_added/day.png"
DAYF		IMAGE "material/kanban_added/day_f.png"
NIGHT		IMAGE "material/kanban_added/night.png"
NIGHTF		IMAGE "material/kanban_added/night_f.png"
MOUSE		IMAGE "material/kanban_added/mouse.png"
SCORE		IMAGE "material/kanban_added/score.png"

TITLE_INTR	SOUND "material/japanese1.wav"
TITLE_MAIN	SOUND "material/japanese2.wav"
GAME		SOUND "material/edo.wav"
RESULT		SOUND "material/Wafo.wav"
HIMEI1		SOUND "material/voice029.wav"
HIMEI2		SOUND "material/voice020.wav"
CLOCK		SOUND "material/clock00.wav"
